@{
    var statusCode = ViewData["StatusCode"] as int? ?? Context.Response?.StatusCode ?? 500;
    ViewData["Title"] = "صفحه پیدا نشد";
}

<section class="simple-error">
    <div class="simple-error__card">
        <img src="~/images/error-404-illustration.svg" alt="خطای @statusCode" class="simple-error__image" />
        <h1 class="simple-error__title">صفحه موردنظر پیدا نشد</h1>
        <p class="simple-error__text">به نظر می‌رسد آدرس وارد شده اشتباه است یا صفحه حذف شده است.</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">بازگشت به خانه</a>
    </div>
</section>
