@{
    var safeModel = Model ?? new Chamedoon.Application.Services.Customers.ViewModel.CustomerProfileViewModel
    {
        ProfileImage = "/img/avatar.jpg",
        FirstName = "مهمان"
    };
}

<div class="glass-card dashboard-pane text-center">
    <div class="avatar-wrapper justify-content-center">
        <img src="@safeModel.ProfileImage" alt="@safeModel.FirstName" class="shadow" />
        <div class="d-flex flex-column gap-1 align-items-center">
            <h6 class="fw-semibold mb-0">@safeModel.FirstName</h6>
            <span class="glass-helper mb-0">خوش آمدی @safeModel.FirstName</span>
        </div>
    </div>
</div>
