@page "/Register"
@using Chamedoon.UI.Services
@layout Chamedoon.UI.Components.Pages.EmptyLayout
@inject IAccountOperation account

<div class="back-to-home rounded d-none d-sm-block">
    <a href="index.html" class="btn btn-icon btn-primary"><i data-feather="home" class="mdi mdi-home-outline icons"></i></a>
</div>

<!-- شوع آن -->
<!-- شوع آن -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">ثبت نام</h4>
                        <form class="login-form mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="mdi mdi-account fea icon-sm icons"></i>
                                            <input type="email" class=" form-control ps-5" placeholder="ایمیل" name="email" @bind-value="email">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="mdi mdi-key fea icon-sm icons"></i>
                                            <input type="password" class=" form-control ps-5" placeholder="رمز عبور " @bind-value="password">
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="mdi mdi-key fea icon-sm icons"></i>
                                            <input type="password" class="form-control ps-5" placeholder="تکرار رمز عبور " @bind-value="confirmPassword">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">مرا به خاطر بسپار </label>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" @onclick="DoRegisterAsync">ثبت نام</button>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mt-4 text-center">
                                    <div class="row">
                                            <div class="d-grid">
                                                <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-google text-danger"></i> ورود با گوگل </a>
                                            </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form>
                    </div>
                </div><!---->
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- پایان آن -->
@code {
    private bool success, errors;
    private string email = string.Empty;
    private string password = string.Empty;
    private string confirmPassword = string.Empty;
    private string error;

    public async Task DoRegisterAsync()
    {
        success = errors = false;

        if (string.IsNullOrWhiteSpace(email))
        {
            errors = true;
            error = "Email is required.";

            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = true;
            error = "Password is required.";

            return;
        }

        if (string.IsNullOrWhiteSpace(confirmPassword))
        {
            errors = true;
            error = "Please confirm your password.";

            return;
        }

        if (password != confirmPassword)
        {
            errors = true;
            error = "Passwords don't match.";
            return;
        }
        var model = new Application.Services.Account.Register.ViewModel.RegisterUser_VM
        {
            UserName = "test",
                Email = email,
                Password = password,
                RePassword = confirmPassword,
        };  

        var result = await account.Register(model);

        if (result.IsSuccess)
        {
            success = true;
            email = password = confirmPassword = string.Empty;
        }
        else
        {
            errors = true;
            error = result.Message;
        }
    }
}