@page "/Register"
@using Chamedoon.UI.Services
@layout Chamedoon.UI.Components.Pages.EmptyLayout
@inject IAccountOperation account
@using Chamedoon.Application.Services.Account.Register.ViewModel

<div class="back-to-home rounded d-none d-sm-block">
    <a href="index.html" class="btn btn-icon btn-primary"><i data-feather="home" class="mdi mdi-home-outline icons"></i></a>
</div>
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">ثبت نام</h4>
                        <EditForm FormName="rgister" Model="@registerUser_VM" OnValidSubmit="DoRegisterAsync">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="mdi mdi-account fea icon-sm icons"></i>
                                            <InputText type="email" class="form-control ps-5" placeholder="ایمیل" @bind-Value="registerUser_VM.Email" />
                                            <ValidationMessage For="@(() => registerUser_VM.Email)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="mdi mdi-key fea icon-sm icons"></i>
                                            <InputText type="password" class="form-control ps-5" placeholder="رمز عبور" @bind-Value="registerUser_VM.Password" />
                                            <ValidationMessage For="@(() => registerUser_VM.Password)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="mdi mdi-key fea icon-sm icons"></i>
                                            <InputText type="password" class="form-control ps-5" placeholder="تکرار رمز عبور" @bind-Value="registerUser_VM.RePassword" />
                                            <ValidationMessage For="@(() => registerUser_VM.RePassword)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">مرا به خاطر بسپار</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">ثبت نام</button>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-4 text-center">
                                    <div class="row">
                                        <div class="d-grid">
                                            <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-google text-danger"></i> ورود با گوگل </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private RegisterUser_VM registerUser_VM = new RegisterUser_VM();
    private bool success, errors;
    private string error;

    public async Task DoRegisterAsync()
    {
        success = errors = false;

        if (string.IsNullOrWhiteSpace(registerUser_VM.Email))
        {
            errors = true;
            error = "وارد کردن ایمیل الزامی است.";

            return;
        }

        if (string.IsNullOrWhiteSpace(registerUser_VM.Password))
        {
            errors = true;
            error = "وارد کردن رمز عبور الزامی است.";

            return;
        }

        if (string.IsNullOrWhiteSpace(registerUser_VM.RePassword))
        {
            errors = true;
            error = "لطفاً رمز عبور خود را تایید کنید.";

            return;
        }

        if (registerUser_VM.Password != registerUser_VM.RePassword)
        {
            errors = true;
            error = "رمزهای عبور مطابقت ندارند.";
            return;
        }

        var result = await account.Register(registerUser_VM);

        if (result.IsSuccess)
        {
            success = true;
        }
        else
        {
            errors = true;
            error = result.Message;
        }
    }
}
