@page "/"
<PageTitle>Home</PageTitle>
<section class="bg-half-260 d-table w-100 background" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="title-heading mt-4">
                    <h2 class="mb-3 topheader-text">
                        <span class="text-primary topheader-text background-chamedoon">بدون چمدون</span><br>کجا میخوای
                        بری ؟
                    </h2>
                    <p class="para-desc text-muted">
                        پیشنهاد بهترین راه مهاجرت و بهترین کشور<br /> بر اساس شخصیت و
                        شرایط شما .
                    </p>
                    <div class="mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-pills btn-primary m-1">شروع تست </a>
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                           class="mdi mdi-book-outline btn btn-icon btn-pills btn-primary m-1 lightbox">
                            <i data-feather="video" class="icons"></i>
                        </a><span class="fw-bold text-uppercase small align-middle ms-1">مشاهده نمونه خروجی</span>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="images/digital/seo.gif" class="img-fluid" alt="">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>
<!--End Mine-->
<!--Start Detail-->
<section class="section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card border-0 text-center features feature-clean rounded">
                    <div class="icons text-primary text-center mx-auto">
                        <h3><i class="mdi mdi-wallet-travel d-block rounded h3 mb-0"></i></h3>
                    </div>

                    <div class="card-body p-0 mt-4">
                        <a href="javascript:void(0)" class="title h5 text-dark">وبلاگ چمدون</a>
                        <p class="text-muted mt-3 mb-0">
                            شامل مطالب متنوع از کشور ها ، انواع ویزا ، تجربه ها و ...
                        </p>
                        <div class="mt-2">
                            <a href="javascript:void(0)" class="text-primary">
                                ادامه مطلب
                                <i data-feather="arrow-left" class="fea icon-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-sm-0 pt-4 pt-sm-0">
                <div class="card border-0 text-center features feature-clean rounded">
                    <div class="icons text-primary text-center mx-auto">
                        <h3><i class="mdi mdi-airplane d-block rounded h3 mb-0"></i></h3>
                    </div>

                    <div class="card-body p-0 mt-4">
                        <a href="javascript:void(0)" class="title h5 text-dark">کجا مهاجرت کنم ؟</a>
                        <p class="text-muted mt-3 mb-0">
                            میتونه بهترین کشور بر اساس شخصیت و موقعیت شما رو پیشنهاد بده
                        </p>
                        <div class="mt-2">
                            <a href="javascript:void(0)" class="text-primary">
                                ادامه مطلب <i data-feather="arrow-left" class="fea icon-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-4 pt-lg-0">
                <div class="card border-0 text-center features feature-clean rounded">
                    <div class="icons text-primary text-center mx-auto">
                        <h3><i class="mdi mdi-ticket-percent d-block rounded h3 mb-0"></i></h3>
                    </div>

                    <div class="card-body p-0 mt-4">
                        <a href="javascript:void(0)" class="title h5 text-dark">شانس مهاجرتم چقدره ؟</a>
                        <p class="text-muted mt-3 mb-0">شانس مهاجرتت به کشور انتخابی رو بهت میگه .</p>
                        <div class="mt-2">
                            <a href="javascript:void(0)" class="text-primary">
                                ادامه مطلب <i data-feather="arrow-left" class="fea icon-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-4 pt-lg-0">
                <div class="card border-0 text-center features feature-clean rounded">
                    <div class="icons text-primary text-center mx-auto">
                        <h3><i class="mdi mdi-account-group d-block rounded h3 mb-0"></i></h3>
                    </div>

                    <div class="card-body p-0 mt-4">
                        <a href="javascript:void(0)" class="title h5 text-dark">تجربه کاربران چمدون</a>
                        <p class="text-muted mt-3 mb-0">
                            میتونی از تجربه کاربران چمدون هم در بخش انجمن استفاده بکنی .
                        </p>
                        <div class="mt-2">
                            <a href="javascript:void(0)" class="text-primary">
                                ادامه مطلب <i data-feather="arrow-left" class="fea icon-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-70 mt-60">
        <div class="row">
            <div class="col-md-12 mt-4 pt-2">
                <div class="tiny-six-item">
                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/dubai.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">دبی </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/thailand.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">تایلند </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/india.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">هند </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/london.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">لندن </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/paris.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">پاریس </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/singapore.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">سنگاپور </a>
                            </div>
                        </div><!--end tour post-->
                    </div>

                    <div class="tiny-slide">
                        <div class="popular-tour rounded-md position-relative overflow-hidden mx-2">
                            <img src="images/travel/dubai.jpg" class="img-fluid" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="title text-white h4 title-dark">دبی </a>
                            </div>
                        </div><!--end tour post-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
</section>
<!--End Detail-->
<!--Start Blog-->
<section class="section mt-70">
    <div class="container">
        <div class="d-flex justify-content-between mt-2">
            <div class="page-next col-8">
                <nav aria-label="breadcrumb" class="d-inline-block">
                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> جدیدترین مقالات</li>
                    </ul>
                </nav>
            </div>
            <div></div>
            <div class="col-4 mt-sm-0">
                <div class="text-center text-md-end">
                    <a class="btn btn-soft-primary" href="/Blog">
                        بیشتر
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/01.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                برنامه های خود را به
                                روش
                                خود طراحی کنید
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/02.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h6>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                برنامه ها چگونه
                                دنیای
                                اطلاعات را تغییر می دهند
                            </a>
                        </h6>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/03.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                هوشمندترین برنامه ها
                                برای تجارت و کار
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/04.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                برنامه ها چگونه
                                دنیای
                                اطلاعات را تغییر می دهند
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/05.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                برنامه های خود را به
                                روش
                                خود طراحی کنید
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/06.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                هوشمندترین برنامه ها
                                برای تجارت و کار
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/07.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                برنامه های خود را به
                                روش
                                خود طراحی کنید
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="images/blog/08.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5>
                            <a href="javascript:void(0)" class="card-title title text-dark">
                                هوشمندترین برنامه ها
                                برای تجارت و کار
                            </a>
                        </h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0">
                                    <a href="javascript:void(0)"
                                       class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"
                                       class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="page-blog-detail.html" class="text-muted readmore">
                                ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                        <small class="text-light date">
                            <i class="uil uil-calendar-alt"></i> اردیبهشت
                            1400
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

