<div class="modal fade" id="loginform" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow-lg border-0 overflow-hidden position-relative">
            <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" style="z-index: 1" data-bs-dismiss="modal" aria-label="بستن"></button>
            <div class="modal-body p-0">
                <div class="container-fluid px-0">
                    <div class="row align-items-center g-0">
                            <form class="login-form p-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="email" class="form-control ps-5" placeholder="ایمیل" name="email" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="password" class="form-control ps-5" placeholder="رمز عبور " required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between">
                                            <div class="mb-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">مرا به خاطر بسپار </label>
                                                </div>
                                            </div>
                                            <p class="forgot-pass mb-0"><a href="auth-re-password.html" class="text-dark fw-bold">فراموشی رمز عبور؟ </a></p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary">ورود </button>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark me-2">حسابی ندارید؟ </small> <a href="auth-signup.html" class="text-dark fw-bold">ثبت نام کنید </a></p>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>