@using Blazored.Modal

<div class="modal-body">
    <p>This is the content of the modal.</p>
    <button @onclick="CloseModal">Close</button>
</div>

@code {
    [CascadingParameter]
    
    ModalParameters ModalParameters { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    private void CloseModal()
    {
        ModalInstance.CloseAsync();
    }
   }