@model Chamedoon.Application.Services.Blog.ViewModel.ArticleViewModel
@{
    ViewData["Title"] = Model.ArticleTitle;
}

<section class="section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card border-0 shadow rounded overflow-hidden mb-4">
                    <div class="position-relative">
                        <img src="~/images/blog/@(string.IsNullOrEmpty(Model.ArticleImageName) ? "01.jpg" : Model.ArticleImageName)" class="img-fluid w-100" alt="@Model.ArticleTitle" />
                        <div class="overlay rounded-top bg-dark" style="opacity:0.4;"></div>
                    </div>
                    <div class="card-body p-4 text-center">
                        <h3 class="card-title mb-3">@Model.ArticleTitle</h3>
                        <ul class="list-inline text-muted mb-3">
                            <li class="list-inline-item"><i class="uil uil-user"></i> @Model.Writer</li>
                        </ul>
                        <p class="text-muted">@Model.ShortDescription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
