@model Chamedoon.Application.Services.Customers.ViewModel.CustomerProfileViewModel

<div class="card public-profile border-0 rounded shadow-md">
    <div class="card-body" style="background: url('/img/bg/bg2.png') center center;">
        <img src="~/images/member3.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
        <div class="mt-4 ">
            <h6 class="title mb-0">@Model.</h6>
        </div>
        <small class="text-muted h6 me-2">تاریخ عضویت : </small>
        <small class="text-muted h6 me-2">@Model.Created</small>
    </div>
</div>