@model Chamedoon.Application.Services.Immigration.ImmigrationResult
@{
    ViewData["Title"] = "نتیجه ارزیابی مهاجرت";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">مناسب ترین کشور ها طبق شرایط شما</h4>
                <p class="text-muted para-desc mb-0 mx-auto">
                    <span class="text-primary fw-bold"> چمدون ;</span>پیشنهاد بهترین راه مهاجرت و بهترین کشور
                    بر اساس شخصیت و شرایط شما
                </p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row align-items-center">
        @{
            var countryScore = Model.TopCountries.Count();
        }

        @for (int i = 0; i < countryScore; i++)
        {
            var item = Model.TopCountries[i];
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card bg-light shadow rounded border-0">
                    <div class="bg-primary bg-gradient p-4 text-center rounded-top">
                        <h4 class="mb-0 card-title title-dark text-light">@item.Country.GetDescription()</h4>
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                            <span class="price text-primary fw-bold display-4 mb-0">@item.Score</span>
                            <span class="h4 mb-0 mt-2 text-primary">%</span>
                            <span class="h6 align-self-end fw-bold text-uppercase mb-2 ms-2">شانس مهاجرت</span>
                        </div>

                        <ul class="feature list-inline">
                            <li class="h6 mt-2 fw-normal">
                                <i data-feather="check-circle" class="fea icon-ex-md text-primarye me-2"></i>
                                رتبه @(i + 1)
                            </li>
                            <li class="h6 mt-2 fw-normal">
                                <i data-feather="check-circle" class="fea icon-ex-md text-primary me-2"></i>
                                @item.RecommendedVisaType
                            </li>
                        </ul>
                        <div class="d-grid">
                            <a href="javascript:void(0)" class="btn btn-primary mt-4 pt-2">جزییات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>