@model Chamedoon.Application.Services.Account.Users.ViewModel.ChangePasswordViewModel;

@{
    Layout = "~/Views/Shared/UserPanelLayout.cshtml";
    ViewData["Title"] = " ویرایش رمز عبور ";
}
@section UserPanelContent {
    <div class="card-body card public-profile border-0 rounded shadow-md">
        <div class="col-md-6 mt-4 pt-2">
            <h5>تغییر رمز عبور : </h5>
            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div class="row mt-4">

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-key fea icon-sm icons"></i>
                                <input asp-for="CurrentPassword" type="password" name="CurrentPassword" class="form-control ps-5" placeholder="رمز عبور فعلی" required="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-key fea icon-sm icons"></i>
                                <input asp-for="NewPassword" type="password" name="NewPassword" class="form-control ps-5" placeholder="رمز جدید" required="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-key fea icon-sm icons"></i>
                                <input asp-for="RePassword" type="password" name="RePassword" class="form-control ps-5" placeholder="تایید رمز عبور جدید " required="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="text-danger">
                            <div asp-validation-summary="All"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-2 mb-0">
                        <button class="btn btn-primary">ذخیره رمز عبور </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
}
