@{
    ViewData["Title"] = "تایید ایمیل";
    Layout = null;
}
<partial name="Styles" />
<partial name="MetaTags" />
<section class="bg-home bg-circle-gradiant d-flex align-items-center" style="background: url('/images/bg.png')">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <a href="javascript:void(0)" class="logo h5"><img src="/images/LogoChamedoon.png" height="32" alt=""></a>
                <div class="text-uppercase title-dark text-dark mt-2 mb-4 coming-soon">تأیید ایمیل</div>
                <p class="text-dark para-desc para-dark mx-auto">لطفاً ایمیل خود را بررسی کنید و روی لینک تأیید کلیک کنید.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4"><i class="mdi mdi-backup-restore"></i> برو صفحه اصلی </a>
            </div>
        </div>
    </div>
</section>
