@model Chamedoon.Application.Services.Account.Login.Query.ForgotPasswordQuery
@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = null;
}

<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center"> بازیابی رمز عبور </h4>
                        <form asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="mb-3">
                                <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">ارسال لینک بازیابی</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
