@model Chamedoon.Application.Services.Account.Login.Query.ForgotPasswordQuery
@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = null;
}
<partial name="Styles" />
<partial name="MetaTags" />

<div class="back-to-home rounded d-none d-sm-block">
    <a asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-icon btn-primary">
            <i data-feather="home" class="mdi mdi-home-outline icons"></i>
        </button>
    </a>
</div>
<section class="bg-home bg-circle-gradiant d-flex align-items-center" style="background: url('/images/bg.png')">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center"> بازیابی رمز عبور </h4>

                        <form id="forgotPasswordForm" asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="mb-3">
                                <input id="emailInput" asp-for="Email" type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">ارسال لینک بازیابی</button>
                        </form>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="mt-4 alert alert-info" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>

        </div>
    </div>
</section>


