@model ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = null;
}

<partial name="Styles" />
<partial name="MetaTags" />

<div class="back-to-home rounded d-none d-sm-block">
    <a asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-icon btn-primary">
            <i data-feather="home" class="mdi mdi-home-outline icons"></i>
        </button>
    </a>
</div>
<section class="bg-home bg-circle-gradiant d-flex align-items-center" style="background: url('/images/bg.png')">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center"> بازیابی رمز عبور </h4>
                        <form asp-action="ResetPassword" method="post">

                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="Email" />

                            <div class="mb-3">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="رمز عبور جدید">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="تکرار رمز عبور">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <button type="submit" class="btn btn-primary">تغییر رمز عبور</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>