@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = null;
}

<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center"> تغییر رمز عبور </h4>
                        <form asp-action="ResetPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="Email" />

                            <div class="mb-3">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="رمز عبور جدید">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="تکرار رمز عبور">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">تغییر رمز عبور</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
